
*{
  box-sizing: border-box;
}
h1 {
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
  font-family:Arial;
  
}

.container{
  background-color: rgba(128, 128, 128, 0.5);
  color: rgb(5, 1, 1);
  padding:30px;
  position: relative;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

p{
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-title{
  color:rgb(250, 242, 242);
  font-family:Helvetica;
  font-weight: bolder;
  font-size: large;
  width: fit-content;
  position:absolute;
  top: 0;
  right: 0;
}
/************ large devices only*********/
@media (min-width: 992px) { 
  .col-lg-4{
    float: left;
    width: 33.33%;
  }
  .ikokore{
    background-color: brown;
    border: 2px solid brown;
  }
  .abacha{
    background-color: green;
    border: 2px solid green;
  }
  .tuo-shinkafa{
    
    background-color: purple;
    border: 2px solid purple;
  }
  .cont1{
    border: 2px solid brown;
  }
  .cont2{
    border: 2px solid green;
  }
  .cont3{
    border: 2px solid purple;
  }
}
/************ medium devices only*********/

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6{
    float: left;
    width: 50%;
  }
  .ikokore{
    background-color: brown;
    border: 2px solid brown;
  }
  .abacha{
    background-color: green;
    border: 2px solid green;
  }
  .tuo-shinkafa{
    
    background-color: purple;
    border: 2px solid purple;
  }
  .cont1{
    border: 2px solid brown;
  }
  .cont2{
    border: 2px solid green;
  }
  .cont3{
    border: 2px solid purple;
  }
  
}
/************ small devices only*********/
@media (max-width: 767px) {
  .col-sd-12 {
    float: left;
    width: 100%;
  }
  .ikokore{
    background-color: brown;
    border: 2px solid brown;
  }
  .abacha{
    background-color: green;
    border: 2px solid green;
  }
  .tuo-shinkafa{
    background-color: purple;
    border: 2px solid purple;
  }
  .cont1{
    border: 2px solid brown;
  }
  .cont2{
    border: 2px solid green;
  }
  .cont3{
    border: 2px solid purple;
  }
} 
.row{
 width: 100%;
}